/* * {
  border: red solid 1px;
} */

body {
  margin-left: 150px;
  margin-right: 150px;
}

/* container-heading open */
#container-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
#container-heading > p:first-child {
  flex: 4;
  font-size: 40px;
}
#container-heading > p:last-child {
  font-size: 40px;
  flex: 2;
  /* padding-bottom: 10px; */
}
#container-heading > p:nth-child(3) {
}
#container-heading > p {
  text-align: center;
  margin-bottom: 0px;
  align-self: flex-end;
}

#container-heading > div > img {
  width: 30px;
  float: right;
  margin-left: 15px;
  margin-bottom: 8px;
}
#container-heading > div {
  flex: 3;
  align-self: flex-end;
}
div > ol {
  list-style-type: none;
  align-self: flex-end;
  margin: 5px;
}

/* container-heading close */

/* <!-- --------------gridcontainer-heding open---------------- --> */
#grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 10px;
  padding: 15px;
  font-size: 16px;
  align-items: center;
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#grid-container > div {
  padding: 0px 0;
  text-align: left;
}
.item12 {
  grid-area: 1/12/3/12;
}
/* <!-- --------------gridcontainer-heding close---------------- --> */

/* middle blackground open */
#middle-blackground {
  margin-top: 15px;
  background-color: brown;
  box-sizing: border-box;
  overflow: hidden;
}
h1,
h2 {
  margin-left: 20px;
  color: white;
}
#grid-body {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  padding: 15px;
  font-size: 30px;
  align-items: center;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.56);
  margin-top: 15px;
  color: white;
  text-align: center;
}
#grid-body > div > span {
  color: yellow;
}
/* middle blackground close */

#grid-image {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  font-size: 16px;
  align-items: center;
  margin-top: 15px;
  color: white;
  text-align: center;
}
